extension/node_modules/*
*.pyc
node_modules/*
.vscode/*
.vscode-test
make_preview.sh
pyFitsServer.code-workspace
server.log
pyfitsserver.egg-info/
dist/
*.log
build/
nohup.out
.DS_Store
pyfitsserver/lib/pyfitsvsc*
